<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill Darker</title>
  <link rel="icon" href="{{ url_for('static', filename='dist/icons/site/favicon.ico') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='src/global.css') }}" rel="stylesheet"> <!-- Global styles first -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">

</head>
<body class="bg-white dark:bg-slate-900">
  <!-- Visible content -->
  <div class="absolute top-0 right-0 m-4">
    <a href="/login" class="text-slate-600 dark:text-slate-400 hover:text-slate-200 font-bold py-2 px-4 rounded">
      Login
    </a>
  </div>
  <div class="lg:flex lg:h-screen">
    <!-- Name, summary, and social links - Left side-->
    <header class="lg:w-1/2 lg:h-screen p-6 md:px-12 md:py-10 overflow-y-auto flex-shrink-0">
      <div class="lg:sticky lg:top-0">
        <h1 class="text-slate-700 dark:text-slate-300 text-6xl font-bold">Bill Darker</h1>
        <h2 class="text-slate-700 dark:text-slate-300 text-2xl font-bold mt-3">Aspiring Software Engineer</h2>
        <p class="text-slate-600 dark:text-slate-400 mt-4">Engineering precise, efficient, and user-centric solutions.</p>
        <!-- Social buttons -->
        <ul class="mt-6 flex items-center ml-2 justify-between w-full">
          <div class="flex">
            <li class="text-slate-600 dark:text-slate-400 mr-5">
              <a class="hover:text-slate-200" href="https://github.com/Billiamd1012" target="_blank">
                <span class="sr-only">Github</span>
                <svg height="24" width="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6" aria-hidden="true"><g><path d="M256,32C132.3,32,32,134.8,32,261.7c0,101.5,64.2,187.5,153.2,217.9c11.2,2.1,15.3-5,15.3-11.1   c0-5.5-0.2-19.9-0.3-39.1c-62.3,13.9-75.5-30.8-75.5-30.8c-10.2-26.5-24.9-33.6-24.9-33.6c-20.3-14.3,1.5-14,1.5-14   c22.5,1.6,34.3,23.7,34.3,23.7c20,35.1,52.4,25,65.2,19.1c2-14.8,7.8-25,14.2-30.7c-49.7-5.8-102-25.5-102-113.5   c0-25.1,8.7-45.6,23-61.6c-2.3-5.8-10-29.2,2.2-60.8c0,0,18.8-6.2,61.6,23.5c17.9-5.1,37-7.6,56.1-7.7c19,0.1,38.2,2.6,56.1,7.7   c42.8-29.7,61.5-23.5,61.5-23.5c12.2,31.6,4.5,55,2.2,60.8c14.3,16.1,23,36.6,23,61.6c0,88.2-52.4,107.6-102.3,113.3   c8,7.1,15.2,21.1,15.2,42.5c0,30.7-0.3,55.5-0.3,63c0,6.1,4,13.3,15.4,11C415.9,449.1,480,363.1,480,261.7   C480,134.8,379.7,32,256,32z"/></g></svg>
              </a>
            </li>
            <li class="text-slate-600 dark:text-slate-400 mr-5">
              <a class="hover:text-slate-200" href="https://www.linkedin.com/in/william-darker-3a0724192/" target="_blank">
                <span class="sr-only">LinkedIn</span>
                <svg height="24" width="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-6 w-6" aria-hidden="true"><path d="M256,0c141.29,0 256,114.71 256,256c0,141.29 -114.71,256 -256,256c-141.29,0 -256,-114.71 -256,-256c0,-141.29 114.71,-256 256,-256Zm-80.037,399.871l0,-199.921l-66.464,0l0,199.921l66.464,0Zm239.62,0l0,-114.646c0,-61.409 -32.787,-89.976 -76.509,-89.976c-35.255,0 -51.047,19.389 -59.889,33.007l0,-28.306l-66.447,0c0.881,18.757 0,199.921 0,199.921l66.446,0l0,-111.65c0,-5.976 0.43,-11.95 2.191,-16.221c4.795,-11.935 15.737,-24.299 34.095,-24.299c24.034,0 33.663,18.34 33.663,45.204l0,106.966l66.45,0Zm-272.403,-296.321c-22.74,0 -37.597,14.95 -37.597,34.545c0,19.182 14.405,34.544 36.717,34.544l0.429,0c23.175,0 37.6,-15.362 37.6,-34.544c-0.43,-19.595 -14.424,-34.545 -37.149,-34.545Z"/></svg>
              </a>
            </li>
          </div>

        </ul>
      </div>
    </header>
    <!-- Main content - Right side -->
    <main class="lg:w-1/2 p-6 md:px-12 md:py-20 overflow-y-auto">
      <!-- About section -->
      <section id="about">
        <h3 class="text-slate-700 dark:text-slate-300 font-bold tracking-wider">ABOUT</h3>
        <p class="text-slate-600 dark:text-slate-400 mt-2 mb-10">
          I fell in love with game development back in 2017, and I have been jumping between every hardware and software project I could imagine since then. 
          From building a 3D printer to adding two numbers together in Rust and tackling every other programming puzzle I could get my hands on in between, 
          I have had no shortage of interesting challenges. Fast forward a few years, and I have had the privilege of engineering solutions for an 
          <a target="_blank" href="https://www.gymandfitness.com.au/">online retailer</a> 
          and a <a class="" target="_blank" href="https://hoftclothing.com/">group of young entrepreneurs</a>.  
          <br><br>
          At the moment, I am looking to expand my horizons to as many fields of Information Technology and Computer Science as I can before I find the next step in my Software Engineering career.
          Currently I am designing operating systems at the <a href="https://study.unisa.edu.au/degrees/bachelor-of-information-technology-software-development">University of South Australia</a>, 
          playing with sorting alogorithims on <a href="https://brilliant.org/s/cs/">Brilliant</a>, 
          exploring data through <a href="https://www.coursera.org/professional-certificates/google-data-analytics">Google's Data Analytics certificate</a>, 
          and tackling programming problems on <a href="https://leetcode.com/">LeetCode</a> 
          <br><br>
          When I am not at the computer, you might find me on a rock wall, in a gym chucking balls through or over nets, or hanging out with my family, or two cats. 
          Or coaching a group of talented young rowers at the <a href="https://www.pulteney.sa.edu.au/">Pulteney Boat Club</a> on any body of water we can find.
        </p>
      </section>
      <section id="experience">
        <h3 class="text-slate-700 dark:text-slate-300 font-bold tracking-wider mt-20 mb-6">EXPERIENCE</h3>
        <ol class="group/list">
          {% for experience in experiences %}
          <li class="mb-12 group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
              <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
              <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2" aria-label="{{ experience.date_range }}">{{ experience.date_range }}</header>
              <div class="z-10 sm:col-span-6">
                <h3 class="font-medium leading-snug text-slate-700 dark:text-slate-300">
                  <div>
                    <a class="inline-flex items-baseline font-medium leading-tight text-slate-700 dark:text-slate-300 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base" href="{{ experience.company.url }}" target="_blank" rel="noreferrer noopener" aria-label="{{ experience.job_title }}">
                      <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                      <span>{{ experience.job_title }}</span>
                    </a>
                  </div>
                </h3>
                <p class="mt-2 text-sm leading-normal text-slate-600 dark:text-slate-400">
                  {{ experience.description }}
                </p>
                <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
                  {% for tech in experience.technologies %}
                  <li class="mr-1.5 mt-2">
                    <div class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300">{{ tech }}</div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          {% endfor %}
        </ol>
        
        <div class="mt-12">
          <a href="{{ url_for('serve_pdf') }}" class="dark:text-slate-300 text-slate-700 hover:text-teal-300" target="_blank">View full resume</a>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <p class="text-slate-600 dark:text-slate-400 mt-20">Inspired by <a href="https://brittanychiang.com/" target="_blank">Brittany Chiang</a>, coded in <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> by me, myself and <a href="https://ollama.com/" target="_blank">Ollama</a> with <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a> and <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>, hosted on a Mac Mini from 2012 running <a href="https://www.debian.org/" target="_blank">Debian</a> and tunnelled past the pesky restrictions from my ISP using <a href="https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/" target="_blank">CloudFlare</a>.
      </footer>
    </main>
  </div>
</body>
</html>
